@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

:root {
    --clr-primary-1: #6a9628;
    --clr-primary-2: #91b659;
    --clr-primary-3: #9bb474;
    --clr-primary-4: #d8e7c3;
    --clr-primary-5: #ecf5ec;

    --clr-secondary-1: #f6d05a;
    --clr-secondary-2: #f9de8c;
    --clr-secondary-3: #fbe8ad;
    --clr-secondary-4: #fdf6de;
    --clr-secondary-5: #fef9eb;

    --clr-grey: #616f8f;
    --clr-white: #fff;
    --clr-black: #2c2a2a;

    --ff-primary: 'Montserrat', sans-serif;
    --ff-secondary: 'Dancing Script', cursive;

    --transition: all 0.5s linear;
    --spacing: 0.25rem;
    --radius: 5rem;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    line-height: 1.5;
    font-size: 0.9rem;
    font-weight: 500;
    font-family: var(--ff-primary);
    background: var(--clr-black);
    color: var(--clr-primary-1);
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

h1,
h2,
h3,
h4 {
    font-family: var(--ff-primary);
    line-height: 1.25;
    margin-bottom: 0.75rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 0.875rem;
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1rem;
    }

    body {
        font-size: 1rem;
    }

    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
}

/*LOGO SECTIONS*/

.section-logo {
    height: 13vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.fb-logo,
.instagram-logo {
    position: absolute;
    top: 5%;
    width: 5%;
    opacity: 0.6;
    transition: var(--transition);
    cursor: pointer;
}

.fb-logo {
    right: 5%;
}

.instagram-logo {
    right: 9%;
}

.fb-logo:hover,
.instagram-logo:hover {
    opacity: 1;
    transform: scale(1.05);
}

.section-logo h1 {
    font-size: 8rem;
    font-family: var(--ff-secondary);
    color: var(--clr-secondary-1);
    text-shadow: 1px 1px 10px var(--clr-primary-1);
}

.section-logo strong {
    position: absolute;
    right: 40%;
    bottom: -15%;
    font-size: 2rem;
    color: var(--clr-primary-1);
    text-shadow: 1px 1px 5px var(--clr-primary-1);
    text-transform: uppercase;
    letter-spacing: var(--spacing);
}

.menu {
    height: 7vh;
    text-align: right;
    margin-right: 5%;
}

.menu a {
    padding: 1rem;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    color: var(--clr-primary-2);
    border: 2px solid transparent;
    transition: var(--transition);
    cursor: pointer;
}

.menu a:hover {
    color: var(--clr-secondary-2);
    border-color: var(--clr-secondary-2);
    box-shadow: 1px 1px 10px var(--clr-primary-1);
}

.section-description {
    height: calc(80vh - 5rem);
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
}

.section-description div {
    width: 80%;
    font-size: 1.5rem;
    line-height: 3rem;
    text-align: left;
    letter-spacing: calc(var(--spacing) / 5);
}

.section-description div p {
    margin: -2rem 0 1rem;
}

strong {
    color: var(--clr-secondary-2);
    font-size: 3rem;
}

.cocktail-img {
    width: 85%;
}

/* SECTION ABOUT */

.section-about {
    height: 100vh;
    max-width: 1440px;
    margin: 0 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-about h4 {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 40px;
    padding: 1rem;
}

.about-img {
    width: 55%;
}

/* SECTION COCKTAILS */

.section-cocktails h3 {
    margin-top: 1rem;
    text-align: center;
    font-weight: 500;
    color: var(--clr-secondary-2);
}

.section-center {
    width: 80vw;
    max-width: 1440px;
    margin: 0 auto;
    padding: 4rem 0;
}

@media screen and (min-width: 576px) {
    .section-center {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        column-gap: 4rem;
    }
}

@media screen and (min-width: 992px) {
    .section-center {
        width: 95vw;
    }
}

.loading {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: grid;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--clr-grey-10);
    padding-top: 5rem;
    z-index: 999;
}

.hide-loading {
    display: none;
}

.search-form {
    width: 85vw;
    max-width: 800px;
    margin: -2rem auto 0;
    padding-top: 5rem;
    text-align: center;
}

.search-form h2 {
    letter-spacing: 0.5rem;
}

input,
textarea {
    width: 100%;
    padding: 0.75rem 1rem;
    font-size: 1.2rem;
    font-family: inherit;
    border-color: transparent;
    border-radius: var(--radius);
    outline: none;
    cursor: pointer;
    transition: var(--transition);
}

input::placeholder {
    letter-spacing: var();
    color: var(--clr-grey);
}

input:hover {
    box-shadow: 0 0 10px var(--clr-primary-1);
}

.cocktails {
    position: relative;
}

.title {
    font-size: 2rem;
    text-align: center;
}

.cocktail {
    position: relative;
    margin-bottom: 3rem;
    background: var(--clr-white);
    box-shadow: var(--light-shadow);
    transition: var(--transition);
}

.cocktail:hover {
    box-shadow: var(--dark-shadow);
    transform: scale(1.005);
}

.cocktail img {
    width: 100%;
    height: 60%;
    display: block;
    box-shadow: 0 0 10px var(--clr-primary-4);
    transition: var(--transition);
    object-fit: cover;
}

.cocktail:hover img {
    filter: blur(1px) grayscale(50%);
}

.cocktail h3 {
    position: absolute;
    bottom: -1rem;
    right: -1rem;
    padding: 1rem 1.5rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-family: var(--ff-primary);
    text-align: center;
    color: var(--clr-white);
    background: var(--clr-primary-1);
    border-radius: var(--radius);
}

/* SINGLE DRINK */

.btn {
    display: block;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--clr-black);
    letter-spacing: var(--spacing);
    background: var(--clr-secondary-2);
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
    transition: var(--transition);
    cursor: pointer;
}

.btn:hover {
    transform: scale(0.98);
    background: var(--clr-primary-1);
}

.single-drink-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-drink {
    width: 60vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.drink-img {
    width: 80%;
    height: 500px;
    display: block;
    object-fit: cover;
    box-shadow: 0 0 10px var(--clr-primary-4);
}

@media screen and (min-width: 992px) {
    .single-drink {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3rem;
    }
}

.drink-info {
    padding-top: 2rem;
}

.drink-info h1 {
    padding: 1rem 0;
    color: var(--clr-secondary-2);
}

.drink-info p {
    font-size: 1.5rem;
    font-weight: 300;
}

.drink-info hr {
    margin: 1rem 0;
}

.drink-name {
    font-family: var(--ff-secondary);
    text-transform: capitalize;
}

.drink-ingredients {
    list-style-type: none;
}

.drink-ingredients li {
    margin: 1rem 0;
}

.single-drink .btn {
    display: inline-block;
    margin-top: 2rem;
}

/* SECTION CONTACT */

.section-contact {
    max-width: 900px;
    height: 95vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-contact input,
.section-contact textarea {
    margin: 1rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form .btn {
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem;
    font-size: 1.5rem;
}

.contact-details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 5rem 0;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
}

.contact-form h3,
.contact-details h3 {
    font-weight: 500;
    color: var(--clr-secondary-2);
}

.contact-icon {
    font-size: 5rem;
}

/* FOOTER */

.scroll-icon {
    position: fixed;
    bottom: 6%;
    right: 2%;
    font-size: 3rem;
    color: var(--clr-primary-1);
    cursor: pointer;
}

.background-img {
    width: 100%;
    position: absolute;
    top: 20%;
    left: 0;
    z-index: -1;
    opacity: 0.2;
}

footer {
    height: 5vh;
    width: 100%;
    color: var(--clr-black);
    text-align: center;
    line-height: 5vh;
    background-color: var(--clr-secondary-2);
}
